@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,100&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Poppins', sans-serif;
}

nav{
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  align-items: center;
  color: #fff;
  min-height: 10vh;
}

#logo{
  grid-column: 2/3;
  font-size: 24px;
}

.menu{
  justify-self: end;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(25, 26, 27),rgb(206, 116, 194));
  z-index: -1;
}

section{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero{
  height: 0%;
  width: 100%;
  position: relative;;
}

.hero img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.headline{
  position: absolute;
  top: 60%;
  left: 10%;
  color: white;
  font-size: 100px;
  transform: translate(-10%, -10%);
  z-index: 10;
  overflow: hidden;
}

.text_p{
  color: #fff;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (max-width:500px){
  .slider{
    background:linear-gradient(150deg,rgb(211, 3, 3),rgb(83, 16, 16));
  }  

  section{
    height: 30vh;
  }
  
  .headline{
    top: 60%;
    left: 0%;
    font-size:10vw;
  } 
}